@Styles.Render("~/Content/Site.css")
@model Moments.Models.Moments

@{
    ViewBag.Title = "Index";
}

<h1 class="darkGreenText headerCss">Moments</h1><br>
<p class="userName">by @System.Web.HttpContext.Current.Session["UserName"].ToString()</p> 

<div class="itemBoxStream itemBottom">
    @Html.ActionLink("Back to Stream", "StreamLink", null, new { @class = "editText" })

    <img src="@Model.Image" class="imagesStream" alt="The image for this moment"/><br />
    @Html.ActionLink("Download image", "Download", new { ImageName = Model.Image.ToString() }, new { @class = "downloadText editText" })

    <br /><br />
    <p class="headlineStream">@Model.Titel<br /></p>
    <p class="centerText">@Model.Description<br /></p>
    <p class="infoText">
        @ViewBag.Country | @Model.Date | Created by @Model.Login.Username
    </p>
    <br />
    <div class="text-center">
        <div class="btn-group ">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn crudButtons" })

            @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn crudButtons" })

            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn crudButtons" })

        </div>
    </div>
</div>